<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Whatsep - Home</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Welcome to Whatsep</h1>
          <p class="lead mb-5 text-white-50">A Simple whatsap API</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-9 mb-5">
        <h2>Usage</h2>
        <hr>
        <ul>
          <li>Scan QR to get started <a href="/qr">http://localhost:port/qr</a></li>
          <li>Get whatsapp info goto <a href="/info">http://localhost:port/info</a></li>
          <li>[TODO] Set webhook goto <a href="/webhook">http://localhost:port/webhook?url=&lt;webhook url&gt;</a></li>
        </ul>
        <h3>Documentation</h3>
        <hr>
        For full API documentation click this <a href="https://documenter.getpostman.com/view/11986481/T17Kd6TY?version=latest">Documentation</a> 
      </div>
      <div class="col-md-3 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Whatsep</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">sepbitcoin@gmail.com</a>
        </address>
      </div>
    </div>  
    <!-- /.row --> 
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Whatsep 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
